/* Targeting all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

/* Targeting the body element */
body {
  height: 100vh;
  width: 100vw;
  padding: 10px 32px;
}

.parent > .child > ul > li {
  background-color: green;
}

/* when using the + it targets the sebling */
.parent + .child + ul {
  background-color: darkcyan;
}
