/* only change the font-size */

.button-big {
  font-size: 3rem;
  padding: 0.7rem;
  background-color: gray;
  width: 10em;
  border-radius: 10px;
  text-align: center;
}

.button {
  font-size: 2rem;
  padding: 0.7rem;
  background-color: gray;
  /* width: 120px; */
  width: 10em;
  border-radius: 10px;
  text-align: center;
}

.button-small {
  font-size: 1.5rem;
  padding: 0.7rem;
  text-align: center;
  background-color: gray;
  width: 8em;
  border-radius: 10px;
}
