<body>
  <div class="product-card">
    <div class="card">
      <img src="__IMG__" alt="Product 1" />
      <h3>__TITLE__</h3>
      <p>__INFO__</p>
      <div class="rating__star">
        Rating: __RATE__
        <div class="rating">
          <span class="star"></span>
        </div>
      </div>
      <p class="price">__PRICE__ $</p>
      <p class="price">Discount of __DIS__ %</p>
      <a href="/id:1">more----></a>
    </div>
  </div>
</body>

<!-- <script>
  let rate = __RATE__;
  function numberToStars(number) {
    // Get the rating element
    const ratingElement = document.querySelector(".rating");

    // Remove all existing stars
    ratingElement.innerHTML = "";

    // Add a new star for each number
    for (let i = 0; i < number; i++) {
      const starElement = document.createElement("span");
      starElement.classList.add("star");
      ratingElement.appendChild(starElement);
    }
  }
  // Call the function to convert the number to stars
  numberToStars(rate);
  // console.log(__RATE__);
</script> -->
