* {
  color: white;
}

/* src/styles.css */
.history-card {
  /* background-color: gray;  */
  border-radius: 8px; /* Rounded corners */
  padding: 16px; /* Padding inside the card */
  margin: 16px 0; /* Margin between cards */
  display: flex;
  justify-content: center;
  align-items: center;
}

.history-card h4 {
  margin: 0 0 8px;
  font-size: 1.25em;
  color: white;
}

.history-card p {
  margin: 0;
  color: white;
}
